<div class="card-container">
  <span class="card-title">Rutina del dia</span>
  <div class="date-container">
    <img src="assets/icons/icon-calendar.svg" alt="" class="icon" />
    <span class="routine-date">Miercoles, 13 de Agosto de 2025</span>
  </div>
  <span class="card-subtitle">Progreso actual</span>
  <div class="progress-container">
    <div class="data-container">
      <span class="number completed">3</span>
      <span class="description">Completadas</span>
    </div>
    <div class="data-container">
      <span class="number missed">10</span>
      <span class="description">Perdidas</span>
    </div>
    <div class="data-container">
      <span class="number in-progress">1</span>
      <span class="description">En curso</span>
    </div>
    <div class="data-container">
      <span class="number pending">2</span>
      <span class="description">Pendientes</span>
    </div>
    <div class="porcentage-container">
      <span class="porcentage">23%</span>
    </div>
  </div>
  <span class="card-subtitle">Tarea en curso</span>
  <div class="task">
    <div class="left-data">
      <span class="hour">06:00</span>
      <div class="task-data">
        <div class="top-data">
          <span class="task-title">Meditacion matutina</span>
          <span class="chip">Mañana</span>
        </div>
        <span class="task-description">Descripción de la tarea en curso</span>
      </div>
    </div>
    <div class="right-data">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 25 24" fill="none">
        <path
          d="M3.74902 12C3.74902 13.1819 3.98182 14.3522 4.43411 15.4442C4.8864 16.5361 5.54933 17.5282 6.38506 18.364C7.22079 19.1997 8.21294 19.8626 9.30487 20.3149C10.3968 20.7672 11.5671 21 12.749 21C13.9309 21 15.1012 20.7672 16.1932 20.3149C17.2851 19.8626 18.2773 19.1997 19.113 18.364C19.9487 17.5282 20.6116 16.5361 21.0639 15.4442C21.5162 14.3522 21.749 13.1819 21.749 12C21.749 9.61305 20.8008 7.32387 19.113 5.63604C17.4252 3.94821 15.136 3 12.749 3C10.3621 3 8.07289 3.94821 6.38506 5.63604C4.69723 7.32387 3.74902 9.61305 3.74902 12Z"
          stroke="#2B7FFF"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M12.749 7V12L15.749 15"
          stroke="#2B7FFF"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span class="chip-state">Ahora</span>
    </div>
  </div>
</div>
