<div class="container">
  <button class="btn-back" (click)="onBack()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="btn-back-icon"
    >
      <path d="m12 19-7-7 7-7"></path>
      <path d="M19 12H5"></path>
    </svg>
    <span class="btn-back-text">Volver</span>
  </button>
  <h1>{{ title() }}</h1>
</div>
